.header {
    position : fixed;
    width: 94vw;
    background: rgb(118,118,118);
    background: linear-gradient(180deg, rgba(118,118,118,0.41507941067051823) 0%, rgba(118,118,118,0) 100%);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 3vh 3vw;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0 1vw;
    width: 9vw;
    font-size: 1vw;
    text-align: center;
    padding: .4em;
}

ul li.active {
    background-color: rgba(189, 195, 199, 0.5);
    transition: background-color 300ms ease;
    border-radius: .4em;
}